<!DOCTYPE HTML>
<html lang="ar-om" dir="rtl">
    <head>
        <title>إدارة الأرشيف الإلكتروني</title>
        <link href="/css/style.css" rel="stylesheet" />
        <!-- icons -->
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- main web style -->
        <link href="/css/adminStyle.css" rel="stylesheet"/>
    </head>
    <body>
<% include ../partials/adminHeader %>
                    <!--indicates where the body of the page should go -->
                    <%- body %>

      <% include ../partials/footer %>

      <!--JaveScript Libararies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
                    e.preventDefault();
                    $(this).siblings('a.active').removeClass("active");
                    $(this).addClass("active");
                    var index = $(this).index();
                    $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                    $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
                });
            });
        </script>
    </body>
    </html>